.herosection-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8em;
  margin: var(--margin);
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);}

.herosection-text-content {
  max-width: 50%;
}

.herosection-text-content h1 {
  font-size: var(--h1-font-size);
  font-family: "AvantGarde", sans-serif;
}

.herosection-text-content p {
  font-size: var(--paragraph-font-size);
  margin-bottom: 1.5rem;
}

.cta-buttons {
  display: flex;
  gap: 1rem;
}

.join-btn {
  background-color: blue;
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.business-btn {
  background-color: transparent;
  color: blue;
  padding: 0.8rem 1.5rem;
  border: 2px solid blue;
  border-radius: 6px;

  cursor: pointer;
}

.image-content img {
  width: auto;
  height: auto;
}

@media (max-width: 768px) {
  .herosection-container {
    flex-direction: column;
    text-align: start;
  }

  .herosection-text-content {
    max-width: 100%;
    margin-top: 10%;
    text-align: start;
  }

  .image-content {
    display: none;
  }
  .cta-buttons {
    justify-content: start;
  }
}
