:root {
  /*  typography scaling */
  --h1-font-size: clamp(
    2rem,
    5vw,
    4rem
  ); /* Adapts from 2rem to 4rem based on screen size */
  --h2-font-size: clamp(1.75rem, 4vw, 3rem);
  --h3-font-size: clamp(1.5rem, 3.5vw, 2.5rem);
  --body-font-size: clamp(1rem, 2vw, 1.25rem);
  --paragraph-font-size:clamp(1rem,1vw,1.20rem);

  --container-padding-sm: clamp(0.5rem, 1vw, 1rem); /* Small elements */
  --container-padding-md: clamp(0.8rem, 2vw, 1.5rem); /* Medium sections */
  --container-padding-lg: clamp(1rem, 3vw, 2rem); /* Large containers */
}
