.enquireform-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: var(--margin);
  gap: 10px;
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}

.enquireform-left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: start;
}
.enquireform-left img{
width: 100%;
height: 100%;
}
.heading-text {
  font-size: var(--h4-font-size);
  text-align: start;
}
.enquireform-left h1 {
  font-size: 2rem;
  color: var(--color-primary-light-cyan);
}
.subheading-enquiry {
  margin-bottom: 10px;
}

.enquireform-image {
  margin-top: 20px;
}

/* Right Section */
.enquireform-right {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: auto;
}

/* Form */
.enquireform {
  display: flex;
  flex-direction: column;
}

.enquireform label {
  font-size: 0.9rem;
  margin-top: 10px;
}

.enquireform input,
.enquireform select {
  width: 100%;
  border-radius: 5px;
}

/* Submit Button */


.enquireform-btn {
  background: none  ;
  color: var(--color-primary-light-cyan);
  padding: 0.8rem 1.5rem;
  border: 2px solid var(--color-primary-light-cyan);
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease, border 0.3s ease; /* Added transition */
}

.enquireform-btn:hover {
  background:var(--color-primary-light-cyan);
  color: var(--white-color);
  transition: background 0.3s ease, color 0.3s ease, border 0.3s ease; /* Added transition */
}
/* Mobile View */
@media (max-width: 768px) {
  .enquireform-container {
    grid-template-columns: 1fr;
  }

  .enquireform-right {
    width: 90%;
    margin: auto;
    box-shadow: none;
  }
}
