.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin-top: 5%;
}

.team-card {
  width: auto;
  text-align: center;
  border-radius: 10px;
  position: relative;
  transition: transform 0.3sease-in-out;
}


.picture {
  width: 130px;
  height: 130px;
  margin: 0 auto 20px;
  position: relative;
}

.picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  border: 5px solid transparent;
  transition: all 0.3s ease-in-out;
}

.team-card:hover .picture img {
  transform: scale(0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 5px solid transparent;
  background: var(--hover-gradient-background)
}


.team-content .name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.team-content .title {
  font-size: 14px;
  color: #666;
}

.social {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 0 0;
  list-style: none;
}

.social li {
  display: inline-block;
}

.social li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #1369ce;
  color: white;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  font-size: 14px;
  text-decoration: none;
}

.social li a:hover {
  background: #f7f5ec;
  color: #1369ce;
}

/* Responsive */
@media (max-width: 768px) {
  .team-container {
    flex-direction: column;
    align-items: center;
  }
}
