.page-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  align-items: center; /* Centers content horizontally */
  height: 100vh; /* Makes the container take full viewport height */
}
.login {
  background: white;
  color: blue;
  border: 2px solid blue;
  padding: 8px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.login:hover {
  background: blue;
  color: white;
}
