.cta-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--margin);
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}

.color-effect {
  background: linear-gradient(
    120deg,
    var( --light-blue-color),
    var(--border-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  font-size: var(--paragraph-font-size);
  margin-top: 10px;
}
.primary-button {
  padding: .5em 1em;
  background-color: var(--course-bg-color);
  color: var(--white-color);
  text-decoration: none;
  border-radius: 6px;
  transition: transform ease 0.2s, box-shadow ease 0.2s;
  display: inline-block;
  font-size: var(--body-font-size);
  z-index: 2;
  margin-top: 10px;
}

.primary-button:hover {
  transform: translate(0, -3px);
  box-shadow: 0 20px 80px -10px var(--course-bg-color);
}
/* 
.color-effect {
    background: linear-gradient(120deg, var(--primbuttn), var(--accent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */