.course-section {
  text-align: start;
  margin: var(--margin);
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}
.outlined-text {
  font-size: var(--h4-font-size);
  font-weight: normal;
  position: relative;
  display: inline-block;
}

.outlined-text::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  color: #000;
  -webkit-text-stroke: 0;
  clip-path: circle(0% at var(--x) var(--y));
  transition: all 0.2s ease-out;
}

.outlined-text:hover::before {
  clip-path: circle(20% at var(--x) var(--y));
}

.subheading {
  font-size: var(--paragraph-font-size);
  color: #000;
  margin-bottom: 20px;
  font-weight: normal;
}

.course-cards-section {
  padding: 0.5rem;
}
.course-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  overflow-x: auto;
  padding: 1rem;
  scroll-behavior: smooth;
}
.course-card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  border: 2px solid #999;
  width: 300px;
  overflow: hidden;
  text-align: left;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.course-image {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
}

.course-details {
  flex-grow: 1;
}
.course-title {
  color: rgb(51, 51, 51);
  font-size: var(--paragraph-font-size) !important;
  margin-top: 5px;
}
.instructor {
  font-size: 0.9rem;
  color: rgb(119, 119, 119);
}
.rating {
  font-size: 0.9rem;
  color: rgb(255, 152, 0);
  margin: 5px 0px;
}
.course-footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: auto;
  padding: 10px 0;
}
.price {
  font-size: 1.1rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin-top: 5%;
}

.current-price {
  background: #cbff97;
  border-radius: 8px;
  padding: 4px;
}

.old-price {
  text-decoration: line-through;
  color: #999;
  margin-left: 10px;
}

.course-to-cart {
  color: blue;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  border: 1px solid blue;
  align-items: center;
  gap: 8px;
  transition: background 0.3s;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.cart-icon {
  color: rgb(0, 0, 145);

  font-size: 1.2rem;
}
