@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    font-display: swap;  /* Optional for font loading optimization */
    margin: 0;
    padding: 0;
}
